h1
{
	text-shadow: 4px 4px 0px rgba(0,0,0,0.1); 
}

h2
{
	float: left;
	text-align: center;
	padding: 20px;
	margin-left: 50px;
	font-size: 20px;
	text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}

h3
{
	text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
	font-size: 20px;
}

h4
{
}

h5
{
	font-size: 16px;
}

h6
{
	float: left;
	margin: 0px;
	padding: 0px;
}

a
{
	color: black;
	text-decoration: none;
}

input
{
	float: left;
	text-align: left;
	width: 100%;
}

body
{
	background: url("/Devoir1/Images/grapeVine.jpg") no-repeat;
	background-size: 100%;
	width: 80%;
	margin-left: 10%;
	border: 1px solid #eb2432;
}

.bodyHeader
{
	background-color: #eb2432;
	height: 96px;
	padding: 5px;
}

.bodyBody
{
	background: rgba(0, 0, 0, 0.3);
	height: 670px;
}

#imgGrapes
{
	float: left;
	width: 10%;
	height: 100px;
}

#violet
{
	float: left;
	text-align: center;
	font-size: 40px;
	text-shadow: 4px 4px 0px rgba(0,0,0,0.1); 
}

#bodyBodyHeader
{
	height: 50px;
}

.commandeForm
{
	float: left;
	text-align: center;
	margin-left: 100px;
	margin-top: 0px;
	height:85%;
	width: 40%;
	background-color: #ffffff;
	border: 1px solid #eb2432;
}

#commandeFormHeader
{
	padding: 1px;
	background-color: #eb2432;
}

#commande
{
	float: left;
	margin: 50px;
	height: 50%;
	width: 80%;
}

.buttonconfirm
{
	float: right;
	width: 20%;
}

#ici
{
	color: blue;
}

#imgVin
{
	float: right;
	margin-right: 100px;
	margin-top: 2%;
	width: 40%;
	height: 75%;
	border: 1px solid #eb2432;
}